*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(https://us.123rf.com/450wm/panychev/panychev1701/panychev170100086/70732089-fondo-oscuro-abstracto-con-la-imagen-de-los-n%C3%BAmeros-para-ilustrar-el-trabajo-de-dise%C3%B1o-de-la-criptog.jpg?ver=6);
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    background-color: darkslateblue;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-top: 55vh;
    margin-left: 70vh;
}